# used to remove files from deployment using `git archive`
# git files
.gitattributes export-ignore
.gitignore export-ignore

#DEVELOPER PLUGINS
PLUGINS/TICKETS* export-ignore
PLUGINS/CODEDOC* export-ignore
PLUGINS/downloaditem* export-ignore
PLUGINS/sourcefiles* export-ignore