# used to remove files from deployment using `git archive`
# git files
.gitattributes export-ignore
.gitignore export-ignore

#uploaded files
files/js* export-ignore
files/image* export-ignore
files/private* export-ignore

#DEVELOPER PLUGINS
plugins/tickets* export-ignore
plugins/codedoc* export-ignore
plugins/downloaditem* export-ignore
plugins/sourcefiles* export-ignore
plugins/themegenerator* export-ignore
plugins/togglecode* export-ignore