.shopticket-body,
.shopticket-content,
.shopticket-mesg,
.shopticket-mesg-content {
  margin-top: @padding-base-vertical;
  overflow: hidden;
}

.shopticket-prop {
  font-size: 120%;
}

.shopticket-ismanager-false {
display: none;
}