.file-items {
width: 100%;
display: block;
overflow: hidden;
}

.file-items:before,
.file-items:after {
  content: " ";
  display: table;
}

.file-items:after {
  clear: both;
}

.file-item {
float:left;
display:block;
overflow: hidden;
margin:6px 12px;
text-align:center;
width: 25%;
}

@media (min-width: 480px) {
.file-item{
  width: 50%;
}
}

@media (min-width: 768px) {
.file-item{
  width: 33.33333333%;
}
}

@media (min-width: 992px) {
.file-item{
width: 25%;
}
}

@media (min-width: 1200px) {
.file-item{
width: 20%;
}
}

.file-content{
font-size:10px;
margin-left: auto;
margin-right: auto;
display: block;
overflow: hidden;
}

.file-content img{
  border: 1px solid transparent;
  border-radius: 4px;
display: block;
width:100%;
height:100%;
}

.file-content li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-added .file-content {
    position: relative;
}

.file-added .file-content:after {
    position: absolute;
     left: 0;
    top: 0;
     right: 0;
    bottom: 0;
    opacity: 0.4;
color:black;
    display: block;
    overflow: hidden;
}

#dropzone{
border:solid 1px blue;
  border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-size ease-in-out .15s, box-radius ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-size ease-in-out .15s, box-radius ease-in-out .15s;
}

#dropzone.drag{
border:solid 3px green;
  border-radius: 6px;
}

.flash-hidden{
position:absolute;
left:-10000px;
width:0;
height:0;
}
