* {margin: 0; padding: 0; border: 0;}
#topmenu{position:relative; z-index: 50; height: 40px; width: 960px; margin: 0 auto; border: 1px solid #fff; font: 14px Trebuchet MS, Tahoma, Verdana, sans-serif; color: #0c588a;} 
#topmenu ul li a {color: #0c588a; height: 30px; text-shadow: 1px 1px 0 #eefaff; text-decoration: none;} 
#topmenu ul li a:hover {text-decoration:underline;} 
#nav {position:relative; height: 25px; padding: 5px 0 0 20px; border: 5px solid #DFF6FF; background: #BCEBFF;} 
#nav li{float: left; list-style: none; position: relative; padding: 0 10px; _padding: 0 10px 8px 10px !important; min-height: 30px;} 
#nav li:hover ul, #nav li.jshover ul{display: block;}
#nav ul{position: absolute; z-index: 100; display: none; top: 25px; left: 0; width: 200px; background: #BCEBFF; padding: 5px 0 0 0; overflow: hidden; border-right: 5px solid #DFF6FF; border-bottom: 5px solid #DFF6FF; border-left: 5px solid #DFF6FF;} 
#nav ul li{width: 100%; min-height: 14px !important; padding: 0 5px 4px 5px !important;}

.filelist {
	width: 100%;
	float: left;
	overflow: hidden;
}
 
.filelist ul {
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
}
 
.filelist ul li {
	display:inline;
}
 
.classictable   {
border: 2px solid black;
border-collapse:collapse;
font-size:12px;
width:98%;
} 

.classictable   th, td {
border: 1px solid black;
padding: 5px;
}
.div-table{overflow:auto}
.hidden {display: none}