* { 	margin: 0; 	padding: 0; }
body {background:#f0f6f7 url(../images/bg7.png) repeat-x;font:12px Arial, Verdana, sans-serif;}
#header {width:960px;background: url(../images/logo.png) no-repeat 30px 20px;margin:11px auto 0;height:125px;position:relative;display:block;}
#logo {font:14px Trebuchet MS, Tahoma, Verdana, sans-serif;color:#fff;padding:30px 0 0 150px;}
#logo .name {font:48px Trebuchet MS, Tahoma, Verdana, sans-serif;height:95px;display:inline-block;float:left;text-shadow:1px 1px 0 #5fa9c1;padding:0 30px 0 0;}
#logo .name a {text-decoration:none;color:#fff}
#logo .slogan {top:16px;position:relative;}

#topmenu{position:relative; z-index: 50; height: 40px; width: 960px; margin: 0 auto; border: 1px solid #fff; font: 14px Trebuchet MS, Tahoma, Verdana, sans-serif; color: #0c588a;} 
#topmenu ul li a {color: #0c588a; height: 30px; text-shadow: 1px 1px 0 #eefaff; text-decoration: none;} 
#topmenu ul li a:hover {text-decoration:underline;} 
#nav {position:relative; height: 25px; padding: 5px 0 0 20px; border: 5px solid #DFF6FF; background: #BCEBFF;} 
#nav li{float: left; list-style: none; position: relative; padding: 0 10px; _padding: 0 10px 8px 10px !important; min-height: 30px;} 
#nav li:hover ul, #nav li.jshover ul{display: block;}
#nav ul{position: absolute; z-index: 100; display: none; top: 25px; left: 0; width: 200px; background: #BCEBFF; padding: 5px 0 0 0; overflow: hidden; border-right: 5px solid #DFF6FF; border-bottom: 5px solid #DFF6FF; border-left: 5px solid #DFF6FF;} 
#nav ul li{width: 100%; min-height: 14px !important; padding: 0 5px 4px 5px !important;}
#nav .current_page_link {font-weight: bold;}

#out {width:960px;margin:11px auto 10px;background-color:#fff;position:relative;padding:1px;}
#middle {width:950px;position:relative;display:block;background-color:#fff;border:5px solid #f3f3f3;overflow: hidden;}
#content {width:650px;padding:22px 0 30px 30px;position:relative;float:left;font-size:14px;line-height:1.3;color:#303030;}
#content p {margin:0 0 10px 0}
.post {position:relative;margin:0px 0 0 0;}
.post h2, .simplecontent  h2 {font:28px Georgia,"Times New Roman",Times,serif;margin:0 0 5px 0;}
.post-tags {background: url(../images/tag.png) no-repeat left top;padding:0 0 1px 20px;font-size:12px;}
.post-tags a, .post-time {font-size:12px;}
.post-date {background: url(../images/clock.png) no-repeat left top;padding:0 0 0 20px;float:right;color:#737373;font-size:12px;}
.post-content, #commentlist li p  {margin:15px 0 15px 0;}
.post-info {background-color:#fff1e2;height:24px;padding:7px 10px 0;font-size:12px;position:relative;margin:10px 0 30px;}
.post-cat {background: url(../images/folder-horizontal.png) no-repeat left center;padding:0 0 0 20px;}
.post-cat a, .post-comments a {color:#e6674a;}
.post-rsscomments{float:right;background: url(../images/feed-balloon.png) no-repeat left center;padding:0 0 0 20px;}
#prevnext {padding:10px 5px;border:5px solid #F3F3F3;margin:-10px 0 0;}
#prevnext p {margin:0;}
#prevnext #next {text-align:right;}
.post-comments {background: url(../images/balloon.png) no-repeat left center;padding:0 0 0 20px;float:right;text-align:right;}
#content #comments, #content .hold, #content #respond, #content #beforeregform {margin:30px 0 15px 0;}
.moderationbuttons, .replyquotebuttons {margin:15px 0 15px 0;text-align:right;}
.commentmetadata a{font-size:10px;color:#A7A7A7;}
.commentmetadata {float:right;}
#commentform input {width:180px;}
#comment {width:650px;}
#commentform  #subscribe {margin:0 0 0 171px;width:13px;}
#commentform p {margin:0 0 2px 0;}
.commentcontent blockquote {
    background: #d6e2e8; 
    color: #505050;
    border-left: 1px solid #85a8b9;
    border-top: 1px solid #85a8b9;
    border-right: 1px solid #1f5f7f;
    border-bottom: 1px solid #1f5f7f;
    margin: 1em 4em;
    padding: 1em;
}

.commentcontent blockquote p {
   margin: 0.5em 0;
   padding: 0;
}

#content ul {margin:10px 0}
#content li {margin:0 0 5px 30px;}
#sidebar {width:210px;float:right;position:relative;font:14px Trebuchet MS, Tahoma, Verdana, sans-serif;color:#b4b4b4; padding:24px 30px 0 0;}
#sidebar li {width:200px;list-style:none;padding:0 0 0 10px;display:inline-block;margin:0 0 4px 0;}
.list-cat {padding:0 0 0 10px;}
.list-cat li {background: url(../images/bullet.gif) no-repeat left center;}

.widget {margin:0 0 20px 0;}
#footer {width:950px;position:relative;display:block;background-color:#fbfbfb;clear: both;padding:5px 0;}
#bottom {width:940px;margin:0 auto;background:#cfebf7 url(../images/bgf.png) repeat-x;overflow: hidden;position:relative;}
#footerbar {list-style:none;position:relative;padding:15px 0 0 25px;}
#footerbar li {list-style:none;float:left;position:relative;width:250px;height:100%;color:#737373;display:inline;}

#footerbar .lastposts {width:280px;padding-right:30px;}
.lastposts li {margin-bottom:5px;background: url(../images/document-small.png) no-repeat;padding:0 0 0 18px;}
#footerbar .lastcomments {width:280px;}
.lastcomments li{margin-bottom:5px;background: url(../images/balloon-small.png) no-repeat;padding:0 0 0 18px;}
.lastcomments {padding-right:60px;}
#footerbar .meta {width:235px;margin-right:0px;position:relative; left:0px;}
#footerbar .meta ul li {width:205px;margin-bottom:5px;}
#copyright {width:880px;clear: both;color:#a7a7a7;padding:10px 30px 20px 30px;}

#sidebar .rubric, #sidebar .rubric a  {color:#969da3;}
.rubric, .rubric a {font:24px Trebuchet MS, Tahoma, Verdana, sans-serif;color:#737373;margin:0 0 10px 0;}
.rubric a {border-bottom:1px dashed #737373; cursor:pointer;}
a {color:#0394d3;}
a:hover{color:#0c588a;}
.rss {background: url(../images/feed.png) no-repeat left center;padding:0 0 0 20px;}
.rss-comments {background: url(../images/feed-balloon.png) no-repeat left center;padding:0 0 0 20px;}
.foaf {background: url(../images/foaf.png) no-repeat left center;padding:0 0 0 20px;}
.blogolet {float:right;}
.blogolet a {color:#0c588a;font-size:10px;}
.post-tags, .post-cat {height:16px;display:block;}
label {font-weight: bold;}