.image{
float:left;
margin:5px 15px 5px 0;
}

.filelist-1, .filelist-2 {
float: left;
}

.files-all{
display: block;
	overflow: hidden;
}

.files-block {
	width: 100%;
display: block;
	overflow: hidden;
}

.clear-after:after,
.files-block:after,
.filelist-1 + div ,
.filelist-2 + div {
clear:both;
content: '.';
display:block;
height:0;
visibility: hidden;
}

.cursor-loading {
 cursor: progress;
 }