<Files ~ ".ini$">
  Order Allow,Deny
  Deny from All
</Files>	

<Files ~ ".php$">
  Order Allow,Deny
  Deny from All
</Files>

<Files ~ ".js$">
  Order Allow,Deny
  Deny from All
</Files>

<Files ~ ".css$">
  Order Allow,Deny
  Deny from All
</Files>